<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<div class="main-contents">
    <div class="date">
        <form th:action="@{/}" method="get" th:object="${date}">
            日付
            <input type ="date" th:field="*{start}">
            ～
            <input type ="date" th:field="*{end}">
            <input type ="submit" value ="絞込">
            <!--  エラーメッセージある場合  -->
            <div class="error-message" th:if="${errorMessage != null}">
                <p th:text="${errorMessage}"></p>
            </div>
        </form>
    </div>
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>
    <div class="message-icon" th:each="content : ${contents}">
        <div>
            投稿ID : <span th:text="${content.id}"/>
        </div>
        <div class="text">
            投稿 : <span th:text="${content.content}"/>
        </div>
        <div class="delete-button">
            <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
                <input type="submit" value="投稿の削除">
            </form>
        </div>
        <div class="edit-button">
            <a th:href="@{/edit/{id}(id=${content.id})}">
                <input type="button" value="投稿の編集">
            </a>
        </div>
        <div class="comment">
            <div class="comment-display" th:each="reply : ${replies}" th:if="${reply.contentId == content.id}">
                <div>
                    返信ID : <span th:text="${reply.id}"/>
                </div>
                <div class="text">
                    返信 : <span th:text="${reply.text}"/>
                </div>
                <div class="comment-delete-button">
                    <form th:action="@{/commentDelete/{id}(id=${reply.id})}" th:method="delete">
                        <input type="submit" value="返信の削除">
                    </form>
                </div>
                <div class="comment-edit-button">
                    <a th:href="@{/commentEdit/{id}(id=${reply.id})}">
                        <input type="button" value="返信の編集">
                    </a>
                </div>
            </div>
            <!--返信の一覧表示の繰り返し終わり-->
            <div class="comment-insert">
                <!-- action先に飛ぶのは返信ボタンを押してから→トップ画面時はactionしない→ -->
                <form th:action="@{/comment/{id}(id=${content.id})}" method="post" th:object="${commentModel}">
                    <div class="form-area">
                        <textarea class="tweet-box" th:field="*{text}" size="20" maxlength="200" /></textarea><br/>
                        <input type="submit" value="返信" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--投稿の一覧表示の繰り返し終わり-->
</div>
</body>
</html>